@font-face {
  font-family: "AvenirNext";
  src: url("AvenirNext-Regular.woff2") format("wof2");
}
@font-face {
  font-family: "AvenirNext";
  src: url("AvenirNext-DemiBold.woff2") format("wof2");
  font-weight: bold;
}

@font-face {
  font-family: "AvenirNext";
  src: url("AvenirNext-Medium.woff2") format("wof2");
  font-weight: medium;
}
